[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

[submodule "prettier"]
	path = vscode/extensions/esbenp.prettier-vscode-9.9.0
	url = https://github.com/prettier/prettier-vscode
	ignore = dirty
