# Vscode
vscode/extensions/*

# VIM
vim/plugged/*
vim/.netrwhist
cf/session

# rustup
rustup/downloads/*
rustup/toolchains/*
rustup/update-hashes/*

# Others
Brewfile.lock.json
ssh_connections
*/.DS_Store
